<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
  
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Contact</li><li><a class="u-email" href="mailto:order227band@gmail.com">order227band@gmail.com</a></li>
		</ul>
      </div>

      <div class="footer-col footer-col-2">
	  <ul class="social-media-list">
		<li>
		  <a href="https://www.twitter.com/order227band">
		    <svg class="svg-icon">
			  <use xlink:href="/assets/minima-social-icons.svg#twitter"></use>
			</svg>
			<span class="username">order227band</span>
		  </a>
		</li>
		<li>
		  <a href="https://www.facebook.com/Order227Band/">
			<svg class="svg-icon">
			  <use xlink:href="/assets/minima-social-icons.svg#facebook"></use>
			</svg>
			<span class="username">O#227 @ FB</span>
		  </a>
		</li>
	  </ul>
	  </div>
	  <div class="footer-col footer-col-3">
	  <ul class="social-media-list">
		<li>
		  <a href="https://www.youtube.com/channel/UCO35S3PlOE1zmyndPTfsROw?sub_confirmation=1">
			<svg class="svg-icon">
			  <use xlink:href="/assets/minima-social-icons.svg#youtube"></use>
			</svg>
			<span class="username">O#227 @ YT</span>
		  </a>
		</li>
	  </ul>
	</div>

    </div>
  
    </div>
  
  </footer>
  
  

  
  